In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
df = spark.read.csv("/Users/amirhossein/Desktop/all/Uni/MS/rahnama/recommander/data/data1/recommender/train_interactions.csv",
                    header="true")

In [5]:
df.show()

+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
| user_id|notif_id|interaction|interaction_dow|interaction_hour|interaction_min|delivery_dow|delivery_hour|delivery_min|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
|  654408|  468552|          0|              1|               1|             57|           1|            1|          55|
| 9272634|  517721|          0|              1|               0|             15|           1|            0|           1|
|  380089|  519842|          0|              1|               0|             21|           1|            0|          20|
| 2586969|  410941|          0|              1|               2|             12|           1|            1|          57|
|  491160|  463087|          0|              1|               1|             37|           1|            1|          27|
| 1581663|  464259|          0|              1|               1|             54|           1|            1|          43|
| 1170897|  461570|          0|              1|               0|             20|           1|            0|          19|
|  897872|  521444|          0|              1|               1|              6|           1|            0|          29|
| 1644236|  517398|          0|              1|               0|             27|           1|            0|          26|
|10908202|  464245|          0|              1|               0|             55|           1|            0|          46|
|10647968|  463092|          0|              1|               0|             33|           1|            0|          33|
|10274938|  521728|          0|              1|               2|             43|           1|            0|          11|
|10387291|  473092|          0|              2|               2|             31|           1|           23|          19|
| 4794377|  463092|          1|              1|               2|              8|           1|            1|          48|
| 6726471|  414617|          0|              2|               0|              2|           1|           23|          40|
| 5873495|  494034|          0|              2|               0|             12|           1|           23|          38|
| 7658659|  521068|          0|              1|               1|             15|           1|            1|          11|
| 8759798|  420863|          0|              1|               0|             25|           1|            0|          22|
|10272948|  463254|          0|              1|               0|             57|           1|            0|          57|
| 5245236|  521158|          1|              1|               1|             16|           1|            0|           4|
+--------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
only showing top 20 rows

In [7]:
df1=df.filter(df['interaction']>0)

In [12]:
print(df1.count())

6071101

In [15]:
a=df1.groupby('user_id').count()

In [16]:
a.show()

+--------+-----+
| user_id|count|
+--------+-----+
| 3154474|    2|
| 5725641|    4|
| 2183696|   18|
| 4686070|    1|
| 9872657|    5|
| 6020436|    7|
| 5462160|    2|
| 8367481|   11|
| 1401009|   10|
|10987523|    1|
| 3519334|    8|
| 9267034|   10|
|  420636|    8|
|  825183|   10|
| 6313680|    5|
| 3744789|   11|
|10353320|    1|
| 8725845|   13|
|  567695|    4|
| 6615551|    5|
+--------+-----+
only showing top 20 rows

In [18]:
a1=np.array(df1.groupby('user_id').count().collect())

In [25]:
print(len(a1))

1697006

In [20]:
import pandas as pd 
pd.DataFrame(a1).to_csv("accepted.csv")

In [21]:
df2=df.filter(df['interaction']<1)

In [22]:
print(df2.count())

92332032

In [23]:
a2=np.array(df2.groupby('user_id').count().collect())

In [27]:
print(a2)

[['11135006' '52']
 ['8903677' '21']
 ['7477273' '67']
 ...
 ['3067163' '1']
 ['4901150' '1']
 ['1459412' '1']]

In [31]:
df3=df.filter(df['user_id']==1459412)
#pd.DataFrame(a1).to_csv("rejected.csv")

In [32]:
df3.show()

+-------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
|user_id|notif_id|interaction|interaction_dow|interaction_hour|interaction_min|delivery_dow|delivery_hour|delivery_min|
+-------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+
|1459412|  466600|          1|              2|              18|             26|           1|            6|          33|
|1459412|  445554|          1|              6|               3|             17|           5|            8|          32|
|1459412|  470677|          1|              1|              17|             21|           1|           16|          12|
|1459412|  448996|          1|              6|               3|             18|           5|           16|           7|
|1459412|  414160|          1|              2|               2|             53|           1|           10|          35|
|1459412|  511728|          1|              6|              17|             39|           6|           16|          56|
|1459412|  433701|          1|              5|               4|              9|           3|           19|          42|
|1459412|  481373|          1|              4|              14|             13|           3|            4|          53|
|1459412|  493119|          1|              4|              14|             13|           4|           10|          56|
|1459412|  422050|          1|              3|               3|             38|           2|           14|          22|
|1459412|  453401|          1|              7|              17|             54|           6|            7|          44|
|1459412|  495763|          1|              5|              11|             35|           4|           17|           6|
|1459412|  488683|          1|              4|               8|             38|           3|           18|          59|
|1459412|  491493|          1|              4|              14|             13|           4|            6|          55|
|1459412|  417567|          1|              5|               4|             49|           2|            2|          53|
|1459412|  485335|          1|              3|              12|             22|           3|           11|          33|
|1459412|  520074|          1|              1|              18|             36|           7|           19|          24|
|1459412|  430337|          1|              5|               4|             49|           3|            9|          54|
|1459412|  503147|          1|              6|               5|             49|           5|           20|           3|
|1459412|  478549|          0|              2|              18|             29|           2|           18|          26|
+-------+--------+-----------+---------------+----------------+---------------+------------+-------------+------------+

In [33]:
pd.DataFrame(a2).to_csv("rejected.csv")

In [35]:
for i in range(0,100):
    print(a1[i][0])

3154474
5725641
2183696
4686070
9872657
6020436
5462160
8367481
1401009
10987523
3519334
9267034
420636
825183
6313680
3744789
10353320
8725845
567695
6615551
1729677
8753872
9865291
7670210
1129479
4719529
6279999
8830107
646683
9006087
8075160
3891402
374686
8939047
8794245
1856083
5314084
5163811
3596716
5128172
6209547
10836519
9864943
454861
10545118
5829407
6400548
1728900
2324004
11133344
1888273
6955921
6359681
5612737
9379164
5720287
5647517
1390241
5679970
1624556
10023410
10986334
1469765
2136
2031298
3221501
3052262
6169435
8595521
2813226
7144917
1799931
340474
1981748
7179077
9717407
343461
1505387
9726547
9115398
11888
8791220
5540759
6467830
9235305
1877317
3225846
8033404
3924356
10097275
4675323
9426073
7811897
9425128
829851
4638287
10762480
2731804
10761738
8485718

In [36]:
import pandas as np
pdAcc=pd.read_csv("accepted.csv")
pdRej=pd.read_csv("rejected.csv")

In [40]:
pdAcc

         Unnamed: 0         0   1
0                 0   3154474   2
1                 1   5725641   4
2                 2   2183696  18
3                 3   4686070   1
4                 4   9872657   5
5                 5   6020436   7
6                 6   5462160   2
7                 7   8367481  11
8                 8   1401009  10
9                 9  10987523   1
10               10   3519334   8
11               11   9267034  10
12               12    420636   8
13               13    825183  10
14               14   6313680   5
15               15   3744789  11
16               16  10353320   1
17               17   8725845  13
18               18    567695   4
19               19   6615551   5
20               20   1729677  13
21               21   8753872   3
22               22   9865291   7
23               23   7670210   1
24               24   1129479   9
25               25   4719529   9
26               26   6279999   3
27               27   8830107   1
28               28    646683   5
29               29   9006087   3
...             ...       ...  ..
1696976     1696976   3115386   1
1696977     1696977   6091250   1
1696978     1696978   6691773   1
1696979     1696979   2779138   1
1696980     1696980   3036217   1
1696981     1696981   7781612   1
1696982     1696982  10872748   1
1696983     1696983   1163951   1
1696984     1696984   7810386   1
1696985     1696985   3143188   1
1696986     1696986   5566885   1
1696987     1696987   3890482   1
1696988     1696988   4080639   1
1696989     1696989    678106   1
1696990     1696990   1269595   1
1696991     1696991    456985   1
1696992     1696992    388978   1
1696993     1696993    906163   1
1696994     1696994   3642007   1
1696995     1696995  10358712   1
1696996     1696996   5607121   1
1696997     1696997   8412657   1
1696998     1696998   8781269   1
1696999     1696999   4446535   1
1697000     1697000   1121468   1
1697001     1697001   1958160   1
1697002     1697002  10916096   1
1697003     1697003   7373858   1
1697004     1697004   9952739   1
1697005     1697005   9807458   1

[1697006 rows x 3 columns]