In [1]:
import pandas as pd
from sklearn.decomposition import PCA

/Users/vahid/.virtualenvs/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/vahid/.virtualenvs/tensorflow/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
users_df = pd.read_csv('/Users/vahid/data/recommender/users.csv')
users_df.head()

,user_id,C1,C2,C3,C4,C5,C6,N1,N2,N3
0,2,lo4tWwhoe/Q=,t//6SaAFz/4=,TM7D/UfuUWI=,REplaQv3orw=,NaN,NaN,1,NaN,NaN
1,3,lo4tWwhoe/Q=,xQaInafDKY8=,zwzarTMD9vQ=,Gbrzpq60jZY=,zAYUYHDsV6s=,7Xs3zpQ+FE8=,10,1.0,NaN
2,4,4+HwT/kGiJ0=,Iib6h/0U+0s=,CkkWJI/tSRA=,+HDIbEcHcns=,evsySuUTeSg=,VrBQ49GXF4s=,2,17.0,NaN
3,5,lo4tWwhoe/Q=,vcnyp2Sf758=,TM7D/UfuUWI=,HDuAo7ddcHQ=,NaN,NaN,3,7.0,NaN
4,6,lo4tWwhoe/Q=,Y/x3+PLZM2M=,TM7D/UfuUWI=,fU1XnTj4GmY=,zAYUYHDsV6s=,7Xs3zpQ+FE8=,28,296.0,25.0

In [7]:
users_df.shape[0]

4009914

In [34]:
df = users_df.sample(n=1000, random_state=0)
df = df.drop(columns=['user_id'])

In [35]:
df = pd.concat([df, pd.get_dummies(df)], axis=1)
df.head()

,C1,C2,C3,C4,C5,C6,N1,N2,N3,N1,...,C6_xst/43rwFzQ=,C6_xxS3gQIuYQs=,C6_y78YHoMCA/c=,C6_yVCQ9msgL9s=,C6_yYSke45Lx7k=,C6_yhE7iIxQEsw=,C6_yjbIj1vJgzU=,C6_ynDecgw9V6s=,C6_yrGBSEPfQiA=,C6_zb5XN0oeDg4=
2890855,lo4tWwhoe/Q=,zn0oBvAVDTk=,evJcjZFLjC0=,REplaQv3orw=,sOnmmHbm7Fw=,+/RMsJdMOSw=,4,144.0,NaN,4,...,0,0,0,0,0,0,0,0,0,0
693494,WH05K2x2gOw=,Ik714/4YFcM=,evJcjZFLjC0=,hlHLOgIUFOM=,KYo0FGgJWps=,kdDpPy4jRfg=,4,144.0,NaN,4,...,0,0,0,0,0,0,0,0,0,0
1505610,WH05K2x2gOw=,pjvEYPsh7kI=,TM7D/UfuUWI=,y1Z7QOvCF/0=,zAYUYHDsV6s=,7Xs3zpQ+FE8=,2,11.0,92.0,2,...,0,0,0,0,0,0,0,0,0,0
2353167,GYClXggF5/I=,1Da23WCGBvE=,irMbWvrqVhE=,2Urj1uC4D7c=,8MJzlU0z5cc=,lLn3aGUgIZg=,17,4.0,NaN,17,...,0,0,0,0,0,0,0,0,0,0
1530206,lo4tWwhoe/Q=,xB6HEun/RCc=,coyERY/CJaE=,FdczLFgbJcs=,2La79ADo7eA=,d7YeBH8HHpA=,5,93.0,NaN,5,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df.columns[:20]

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'N1', 'N2', 'N3', 'N1', 'N2', 'N3',
       'C1_/HZHvucg75Q=', 'C1_415mVocs6zI=', 'C1_4tFJgbOJWo4=',
       'C1_7G/gTXl7Hdc=', 'C1_9ShquQbcB2Q=', 'C1_BEpUpRh1tCI=',
       'C1_CvIN/ozBUho=', 'C1_DES+n3lIlX0='],
      dtype='object')